.box1{
    background-color: #A082B9;
    height: 120px;
}

.box2{
    background-color: #FFE1D2;
    height: 60px;
}

.redes{
    font-size: 60px !important;
    color: #EEF8C2;
}

.textos{
   color: #EEF8C2;
}